body{
    background-color: burlywood;
    color: crimson;
    font-family: "EB Garamond", serif;
    margin: 0px;
}


header {
    font-size: 40px;
    border-bottom: outset 5px rgba(210, 22, 53, 0.987);
    /*margin: 30px;*/
    padding: 10px;
}

h1{
    font-size: 20px;
}